/* LAPTOP (1200px) */

@media (max-width:1200px){

    .hero{

        grid-template-columns:1fr;
        text-align:center;
        gap:60px;

    }

    .hero-left{

        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .hero-gallery{

        justify-content:center;
        height:650px;

    }

}

/* TABLET (992px) */

@media (max-width:992px){

    section{

        padding:80px 6%;

    }

    .hero h1{

        font-size:56px;

    }

    .hero-gallery{

        gap:15px;

        height:600px;

    }

    .column img{

        width:180px;

        height:250px;

    }

    .service-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .portfolio-grid{

        grid-template-columns:repeat(2,1fr);

    }

    .about{

        grid-template-columns:1fr;

        text-align:center;

    }

    .about-right{

        margin-top:40px;

    }

    .footer-content{

        grid-template-columns:1fr;

        text-align:center;

    }

}

/* MOBILE (768px) */

@media (max-width:768px){

    .navbar{

        flex-direction:column;
        gap:20px;

    }

    .nav-menu{

        flex-wrap:wrap;
        justify-content:center;
        gap:18px;

    }

    .hero{

        padding-top:170px;

    }

    .hero h1{

        font-size:42px;

    }

    .hero p{

        font-size:16px;

    }

    .hero-gallery{

        display:none;

    }

    .hero-button{

        flex-direction:column;

        width:100%;

    }

    .btn-primary,
    .btn-secondary{

        width:100%;

        text-align:center;

    }

    .service-grid{

        grid-template-columns:1fr;

    }

    .portfolio-grid{

        grid-template-columns:1fr;

    }

    .about-right{

        grid-template-columns:1fr;

    }

    .testimonial-card{

        padding:35px;

    }

    .testimonial-card p{

        font-size:18px;

    }

    .cta{

        margin:30px 0;

        padding:60px 30px;

        border-radius:20px;

    }

    .cta h2{

        font-size:34px;

    }

}

/* SMALL MOBILE (480px) */

@media (max-width:480px){

    .logo{

        font-size:24px;

    }

    .hero h1{

        font-size:34px;

    }

    .section-title h2{

        font-size:32px;

    }

    .about h2{

        font-size:34px;

    }

    .number h2{

        font-size:36px;

    }

}